@charset "UTF-8";
/* CSS Document */

body {
	color: #FFFFFF;
	font-family: Helvetica Neue UltraLight, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 25px;
	text-align:center;
	height: auto;
background-image:url(images/background.png);

}
#container {
	width: auto;
	margin:auto;
	padding: 20px;
	border-left:1px;
}

#departure {
	width: 49%;
	float: left;
	text-align:left;
	padding-bottom: 5px;
	padding-top: 10px;
}
#arrival {
	width: 49%;
	float: right;
	text-align: right;
	border-color: 358b94;
	padding-bottom: 5px;
	padding-top: 10px;
}
#distance {
	float: left;
	align-content: center;
	text-align: center;
	margin: 10px;
	display: block;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px;
	font-size: 36px;
	border-top: 1px;
	border-top-style:solid;
	border-top-color:#FFFFFF;
	border-bottom-color:#FFFFFF;
	border-bottom: 1px;
	border-bottom-style:solid;
}
.input {
	background-color: #80d7ba;
	border color:transparent;
	width: 90%;
	height: 50px;
	margins: 15px;
	font-size: 36px;
	padding: 5px;
	color:#FFFFFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
.title {
	border-top-color: 80d7ba;
	border-spacing: 1px 0px;
}
#submit {
	text-align: center;
	width: 100%;
	alignment: bottom;
	padding: 5px;
	position:absolute;
	bottom:25px;
	left: 0px;
	}
#go {
		font-family: Helvetica Neue UltraLight, Helvetica Neue, Helvetica, Arial, sans-serif;
	width: 120px;
	height: 50px;
	font-size:30px;
	font-weight:200;
	color: #FFFFFF;
	background-color: #80d7ba;
	border-color:transparent;
}
#header {
	height: 15%;
	text-align:left;
	width: 100%;
	padding-bottom: 15px;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color:#FFFFFF;
	text-align:center;
}
h1 {
	font-weight:200;
}
h2 {
	font-weight: 100;
	font-size:30px;
	margin: 5px;
}
p {
	font-size:24px;
	margin: 5px;
}

